* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-family: monospace;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

.entry.active {
    display: block;
}

.entry.inactive {
    display: none;
}

.entry {
    border: 1px solid #000;
}

.tag {
    font-size: 0.8rem;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

pre {
    max-width: 80vw;
    white-space: pre-wrap;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 5px;
}

button {
    font-family: monospace;
    background-color: white;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
